# Server Properties
#-----------------------------------------------------------
Server.IP=127.0.0.1
Server.Port=54321


# Timer Properties
#-----------------------------------------------------------
# MSecPerTick -- sleep time between ticks (in msec)
# SimulationSpeed -- no. of realtime msec per simulated sec
#-----------------------------------------------------------
Timer.MSecPerTick=1
Timer.SimulationSpeed=10


# SLC Properties
#-----------------------------------------------------------
SLC.PollingTime=6000


# Barcode Reader Properties
#-----------------------------------------------------------
BarcodeReader.Barcode1=4107-7014
BarcodeReader.Barcode2=2026-6202
BarcodeReader.Barcode3=1005-5001

# Locker Properties
locker.Count=44
Locker.Location=KG-0852
Locker.LockerId0=0
Locker.LockerId0.Occupied=0

Locker.LockerId1=1
Locker.LockerId1.Occupied=0

Locker.LockerId2=2
Locker.LockerId2.Occupied=0

Locker.LockerId3=3
Locker.LockerId3.Occupied=0

Locker.LockerId4=4
Locker.LockerId4.Occupied=0

Locker.LockerId5=5
Locker.LockerId5.Occupied=0

Locker.LockerId6=6
Locker.LockerId6.Occupied=0

Locker.LockerId7=7
Locker.LockerId7.Occupied=0

Locker.LockerId8=8
Locker.LockerId8.Occupied=0

Locker.LockerId9=9
Locker.LockerId9.Occupied=0

Locker.LockerId10=10
Locker.LockerId10.Occupied=1

Locker.LockerId11=11
Locker.LockerId11.Occupied=1

Locker.LockerId12=12
Locker.LockerId12.Occupied=1

Locker.LockerId13=13
Locker.LockerId13.Occupied=0

Locker.LockerId14=14
Locker.LockerId14.Occupied=1

Locker.LockerId15=15
Locker.LockerId15.Occupied=1

Locker.LockerId16=16
Locker.LockerId16.Occupied=1

Locker.LockerId17=17
Locker.LockerId17.Occupied=0

Locker.LockerId18=18
Locker.LockerId18.Occupied=1

Locker.LockerId19=19
Locker.LockerId19.Occupied=1

Locker.LockerId20=20
Locker.LockerId20.Occupied=0

Locker.LockerId21=21
Locker.LockerId21.Occupied=0

Locker.LockerId22=22
Locker.LockerId22.Occupied=0

Locker.LockerId23=23
Locker.LockerId23.Occupied=1

Locker.LockerId24=24
Locker.LockerId24.Occupied=0

Locker.LockerId25=25
Locker.LockerId25.Occupied=0

Locker.LockerId26=26
Locker.LockerId26.Occupied=0

Locker.LockerId27=27
Locker.LockerId27.Occupied=0

Locker.LockerId28=28
Locker.LockerId28.Occupied=0

Locker.LockerId29=29
Locker.LockerId29.Occupied=0

Locker.LockerId30=30
Locker.LockerId30.Occupied=0

Locker.LockerId31=31
Locker.LockerId31.Occupied=0

Locker.LockerId32=32
Locker.LockerId32.Occupied=0

Locker.LockerId33=33
Locker.LockerId33.Occupied=0

Locker.LockerId34=34
Locker.LockerId34.Occupied=1

Locker.LockerId35=35
Locker.LockerId35.Occupied=0

Locker.LockerId36=36
Locker.LockerId36.Occupied=1

Locker.LockerId37=37
Locker.LockerId37.Occupied=1

Locker.LockerId38=38
Locker.LockerId38.Occupied=0

Locker.LockerId39=39
Locker.LockerId39.Occupied=0

Locker.LockerId40=40
Locker.LockerId40.Occupied=0

Locker.LockerId41=41
Locker.LockerId41.Occupied=1

Locker.LockerId42=42
Locker.LockerId42.Occupied=1

Locker.LockerId43=43
Locker.LockerId43.Occupied=0

# Octopus Card Reader Properties
#-----------------------------------------------------------
OctopusCardReader.Number1=15234001
OctopusCardReader.Number1.amount=124.30

OctopusCardReader.Number2=70055995
OctopusCardReader.Number2.amount=12.40

OctopusCardReader.Number3=85670007
OctopusCardReader.Number3.amount=2.30
